
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.image {
    width: 80%;
    max-width: 600px;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #0077ff;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}